.overlay_modal {
	background-color: rgba(0, 0, 0, 0.0);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	}

.modal_content {
	max-width: 400px;
	min-width: 300px;
	padding: 20px;
	border-radius: 8px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--bg-modal-color);
	opacity: 0.98;
}

.popup_header {
	display: flex;
	flex-direction: row;
	align-content: baseline;
	align-items: center;
	justify-content: space-between;
}

.popup_title {
	font-size: 20px;
}

.popup_container {
	border: var(--border-color) solid 1px;
	border-radius: 20px;
	padding: 16px;
	margin-bottom: 44px;
}

.p_header {
	font-family: 'Involve SemiBold';
	font-size: 14px;
}

.paragraph {
	font-family: 'Involve Normal';
	font-size: 14px;
	margin-bottom: 8px;
}

.openIcon {
	margin-left: 5px;
	margin-top: 5px;
	cursor: pointer;
}

.closeIcon {
	max-width: 22px;
	max-height: 22px;
	cursor: pointer;
}