.modalOverlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.modalContent {
	background: var(--bg-modal-color);
	border-radius: 12px;
	width: 20em;
	padding: 20px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modalHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--color-border);
	margin-bottom: 8px;
}

.modalTitle {
	margin: 0;
	font-size: 20px;
	font-family: 'Manrope Normal';
	color: var(--color-text-primary);
}

.closeButton {
	background: none;
	border: none;
	font-size: 24px;
	color: var(--color-text-secondary);
	cursor: pointer;
	padding: 0;
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	transition: all 0.2s ease;
}

.closeButton:hover {
	background: var(--color-background-hover);
	color: var(--color-text-primary);
}

.modalBody {
	max-height: calc(80vh - 60px);
}

.saveButton {
	margin: 24px 0;
	width: 100%;
	background: var(--success-button);
	border: none;
	border-radius: 14px;
	height: 50px;
	font-family: 'Involve SemiBold';
	font-size: 16px;
	color: var(--header-color);
	cursor: pointer;
}