.tokenSelectorButton {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 4px;
	background: var(--bg-container-color);
	border: 1px solid var(--color-border);
	border-radius: 25px;
	cursor: pointer;
	transition: all 0.2s ease;
	position: relative;
}

.tokenSelectorButton:hover {
	background: none;
	box-shadow: 0 0 0 1px var(--border-button-color);
}

.tokenImage {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	object-fit: cover;
}

.tokenSymbol {
	font-size: 12px;
	font-weight: 500;
	color: #fff;
}