.container {
	background-color: var(--bg-container-color);
	min-width: var(--app-min-width);
	border-radius: 18px;
	padding: auto 5.09%;
	padding-bottom: 5%;
	margin: 20% auto;
	font-family: 'Manrope Light';
	border: 1px solid;
	border-color: var(--border-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


h1 {
	font-size: 20px;
}

h2 {
	font-size: 16px;
}

.container_element {
	font-size: 14px;
}