.container {
	max-width: var(--app-max-width);
	border-radius: 18px;
}

.swap_container {
	background-color: var(--bg-color);
	border-radius: 18px;
	min-width: var(--app-min-width);
	padding: 4.58% 5.09%;
}

.toolbar {
	margin-bottom: 6%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.toolbarButton {
	background: none;
	border: none;
	cursor: pointer;
	margin: 0;
}

.toolbarIcon {
	width: 24px;
	height: 24px;
	transition: transform 0.3s ease;
}

.toolbarIcon.rotating {
	animation: rotate 5s linear infinite;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.connectWalletCustom {
	width: 140px !important;
	height: 30px !important;
	border-radius: 8px !important;
	background: var(--button-color) !important;
	color: var(--button-text-color) !important;
	font-family: 'Involve SemiBold' !important;
	font-size: 16px !important;
}

.connectWalletCustomConnected {
	width: 140px !important;
	height: 30px !important;
	border-radius: 8px !important;
	background-color: var(--button-connected-wallet) !important;
	color: #ECECEC !important;
	font-family: 'Involve SemiBold' !important;
	font-size: 16px !important;
}

.balance_container {
	border: 1px solid;
	border-color: var(--border-color);
	border-radius: 11px;
	text-align: center;
	margin-bottom: 2.5%;
}

.balance_statement {
	font-family: 'Manrope Light';
	font-size: 12px;
}

.button_group {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	margin-top: 2.78%;
}

.link {
	font-family: 'Manrope Medium';
	font-size: 12px;
	color: var(--text-color);
	text-decoration: none;
}